@import 'tailwindcss';

@font-face {
  font-family: 'Libertinus Serif';
  src: url('/fonts/LibertinusSerif-Regular.woff2') format('woff2'),
    url('/fonts/LibertinusSerif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libertinus Serif';
  src: url('/fonts/LibertinusSerif-Bold.woff2') format('woff2'),
    url('/fonts/LibertinusSerif-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Libertinus Serif', serif;
}
body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url('/images/logo-dub.png');
  background-repeat: no-repeat;
  background-position: center top; /* ili center center */
  background-size: auto 100%; /* ⇦ prilagodi visini viewporta */
  background-color: white; /* boja iza, popunjava trake levo/desno */
  opacity: 0.1;
  pointer-events: none;
}
