@import 'tailwindcss';

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  /* slika + “opacity” preko linear-gradient-a */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url('/public/images/logo-dub.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* opcionalno, lep efekat */
}
